{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <title>DETECT-U</title>
</head>
<body>
    <!--HEADER-->
    <header class="text-gray-400 bg-gray-900 body-font">
        <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
          <a class="flex title-font font-medium items-center text-white mb-4 md:mb-0" href="/home/">
            <img src="/static/logo121.jpg">
              <path d="M12 2L2 7l10 5 10-5-10-5zM2 17l10 5 10-5M2 12l10 5 10-5"></path>
            </svg>
            <span class="ml-3 text-xl"><b><i>DETECT-U</i></b></span>
          </a>
          <nav class="md:ml-auto flex flex-wrap items-center text-base justify-center">
            <a class="mr-5 hover:text-white" href="/home/">HOME</a>
            <a class="mr-5 hover:text-white" href="/about/">ABOUT</a>
            <a class="mr-5 hover:text-white" href="/team/">TEAM</a>
          </nav>
        </div>
      </header>
    <!--TEAMMATES-->
    <section class="text-gray-400 bg-gray-900 body-font">
        <div class="container px-5 py-24 mx-auto">
          <div class="flex flex-col text-center w-full mb-20">
            <h1 class="text-2xl font-medium title-font mb-4 text-white tracking-widest">OUR TEAM</h1>
            <p class="lg:w-2/3 mx-auto leading-relaxed text-base">The team which is always open to learn, execute and work in collaborative manner.</p>
          </div>
          <div class="flex flex-wrap -m-4">
            <div class="p-4 lg:w-1/2">
              <div class="h-full flex sm:flex-row flex-col items-center sm:justify-start justify-center text-center sm:text-left">
                <img alt="team" class="flex-shrink-0 rounded-lg w-48 h-48 object-cover object-center sm:mb-0 mb-4" src="/static/Soumyajit.jpg">
                <div class="flex-grow sm:pl-8">
                  <h2 class="title-font font-medium text-lg text-white">Soumyajit Nag</h2>
                  <h3 class="text-gray-500 mb-3">Website Developer</h3>
                  <p class="mb-4">soumyajitnag18@gmail.com</p>
                  <span class="inline-flex">
                    <a class="text-gray-500" href="https://www.linkedin.com/in/soumyajit-nag-a93898212/" target="_blank">
                      <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                        <path d="M16 8a6 6 0 016 6v7h-4v-7a2 2 0 00-2-2 2 2 0 00-2 2v7h-4v-7a6 6 0 016-6zM2 9h4v12H2z"></path>
                      </svg>
                    </a>                  
                  </span>
                </div>
              </div>
            </div>
            <div class="p-4 lg:w-1/2">
              <div class="h-full flex sm:flex-row flex-col items-center sm:justify-start justify-center text-center sm:text-left">
                <img alt="team" class="flex-shrink-0 rounded-lg w-48 h-48 object-cover object-center sm:mb-0 mb-4" src="/static/Anirudh.png">
                <div class="flex-grow sm:pl-8">
                  <h2 class="title-font font-medium text-lg text-white">Anirudh Jalan</h2>
                  <h3 class="text-gray-500 mb-3">Website Developer</h3>
                  <p class="mb-4">anirudhjalan2001@gmail.com</p>
                  <span class="inline-flex">
                    <a class="text-gray-500" href="https://www.linkedin.com/in/anirudh-jalan1/" target="_blank">
                      <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                        <path d="M16 8a6 6 0 016 6v7h-4v-7a2 2 0 00-2-2 2 2 0 00-2 2v7h-4v-7a6 6 0 016-6zM2 9h4v12H2z"></path>
                      </svg>
                    </a>
                  </span>
                </div>
              </div>
            </div>
            <div class="p-4 lg:w-1/2">
              <div class="h-full flex sm:flex-row flex-col items-center sm:justify-start justify-center text-center sm:text-left">
                <img alt="team" class="flex-shrink-0 rounded-lg w-48 h-48 object-cover object-center sm:mb-0 mb-4" src="/static/Srijan.jpg">
                <div class="flex-grow sm:pl-8">
                  <h2 class="title-font font-medium text-lg text-white">Srijan Singh</h2>
                  <h3 class="text-gray-500 mb-3">Website Developer</h3>
                  <p class="mb-4">srijan32002@gmail.com</p>
                  <span class="inline-flex">
                    <a class="text-gray-500" href="https://www.linkedin.com/in/srijan-singh-556362260/" target="_blank">
                      <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                        <path d="M16 8a6 6 0 016 6v7h-4v-7a2 2 0 00-2-2 2 2 0 00-2 2v7h-4v-7a6 6 0 016-6zM2 9h4v12H2z"></path>
                      </svg>
                    </a>
                  </span>
                </div>
              </div>
            </div>
            <div class="p-4 lg:w-1/2">
              <div class="h-full flex sm:flex-row flex-col items-center sm:justify-start justify-center text-center sm:text-left">
                <img alt="team" class="flex-shrink-0 rounded-lg w-48 h-48 object-cover object-center sm:mb-0 mb-4" src="/static/suvendu-chowdhury-ab6141244">
                <div class="flex-grow sm:pl-8">
                  <h2 class="title-font font-medium text-lg text-white">Suvendu Chowdhury</h2>
                  <h3 class="text-gray-500 mb-3">Website Developer</h3>
                  <p class="mb-4">Suvendu@gmail.com</p>
                  <span class="inline-flex">
                    <a class="text-gray-500" href="https://www.linkedin.com/in/suvendu-chowdhury-ab6141244/" target="_blank">
                      <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                        <path d="M16 8a6 6 0 016 6v7h-4v-7a2 2 0 00-2-2 2 2 0 00-2 2v7h-4v-7a6 6 0 016-6zM2 9h4v12H2z"></path>
                      </svg>
                    </a>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    <!--FOOTER-->
    <footer class="text-gray-400 bg-gray-900 body-font">
        <div class="container px-5 py-8 mx-auto flex items-center sm:flex-row flex-col">
          <a class="flex title-font font-medium items-center md:justify-start justify-center text-white" href="/home/">
            <img src="/static/logo121.jpg">
            <span class="ml-3 text-xl"><b><i>DETECT-U</i></b></span>
          </a>
          <p class="text-sm text-gray-400 sm:ml-4 sm:pl-4 sm:border-l-2 sm:border-gray-800 sm:py-2 sm:mt-0 mt-4">
            © 2022-23 DTU — @SISA <br>Picture Source: @Internet</p> 
        </div>
        </div>
      </footer>
</body>
</html>